@use '../custom' as *;
@use '../components/mixins' as *;

.courses{
	position:relative;
	padding:1rem 0;
	&__content{
	padding:1rem;
	margin-top:5rem;
	.icon{
		font-size:2rem;
		color:$secondary;

		}
	}
	&__pic{
	max-width:100%;

	}
}